# Ignore VS Code settings
.vscode/

# Ignore compiled binaries
*.exe

# a) Ignore the Rough/Practice area in Web-D
3-Web-D/7 Rough or Practice area/

# b) Ignore the Rough/Practice area in Web-D
3-Web-D/6 Projects/
"3-Web-D/6 Projects/"

# c) Ignore the 4-Other folder in the root
4-Other/
